<a href="https://colab.research.google.com/github/kunalgowdae/data-handling-and-visualization/blob/main/pandaseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s1=pd.Series([3,1,2,4,5,'gaurav',5.9])
print(s1)
s1[:2]

0         3
1         1
2         2
3         4
4         5
5    gaurav
6       5.9
dtype: object

0    3
1    1
dtype: object

In [ ]:
import pandas as pd
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [ ]:
thisdict={"brand":"ford","model":"mustang","year":1964}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

0        -3
1        -1
2         1
3         3
4         5
5    gaurav
6       7.3
dtype: object

In [ ]:
import numpy as np
import pandas as pd
a=[1,7,2]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
calories={"day1":420,"day 2":840,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1     420
day 2    840
day3     390
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(s['a'])

1

In [ ]:
df["ID"]=[10,10,20,30]
print(df)

        Name  Age  ID
rank1    Tom   28  10
rank2   Jack   34  10
rank3  Steve   29  20
rank4  Ricky   42  30

In [ ]:
df["ID"].unique()

array([10, 20, 30])

In [ ]:
df["ID"].value_counts()

10    2
20    1
30    1
Name: ID, dtype: int64